@tailwind base;

:root {
    --dark: #343434;
    --white: #FCFAF1;
    --yellow: #E6B31E;
}

/* Scrollbar for firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--white) var(--dark);
    scroll-behavior: smooth;
}
/* Scrollbar for another browsers */
*::-webkit-scrollbar {
    width: 10px;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 10px;
    border: 3px solid var(--white);
}

*::selection {
    background: var(--yellow);
    color: var(--white)
}


@tailwind components;
@tailwind utilities;